<div class="flex w-full justify-center">
    <div class="flex flex-col">
        <p class="font-bold text-xl mb-4">ORDERS</p>
        <table class="border">
            <thead>
                <tr class="bg-slate-900 text-white rounded-tl">
                    <th scope="col" class="px-4 py-2">ID</th>
                    <th scope="col"  class="py-2">
                        <select (change)="selectedProductFunct($event)" name="selectproduct" id="prdct"  class="bg-slate-900 text-white px-4 py-2">
                            <option selected>Product</option>
                            @for (product of productListOption; track $index) {
                                <option [value]="product" >{{product}}</option>
                            }
                        </select>
                    </th>
                    <th scope="col"  class="px-4 py-2">Name</th>
                    <th scope="col"  class="px-4 py-2">Amount</th>
                    <th scope="col"  class="px-4 py-2">
                        <select (change)="selectedPaymentMethod($event)" name="paymethod" id="pymtd" class="bg-slate-900 text-white px-4 py-2">
                            <option selected>Payment Method</option>
                            @for (item1 of payMethodOption; track $index) {
                                <option [value]="item1">{{item1}}</option>
                            }
                        </select>
                    </th>
                    <th scope="col" class="px-4 py-2">Action</th>
                </tr>
            </thead>
            <tbody>
                @for (item of filteredList; track item.id) {
                    <tr class="hover:bg-gray-200">
                        <td class="py-2 text-center font-semibold">{{ item.id }}</td>
                        <td class="text-center">{{ item.product }}</td>
                        <td class="text-center">{{ item.name }}</td>
                        <td class="text-center">{{ item.amount | currency: 'PHP' }}</td>
                        @if (item.payMet == "Cash") {
                            <td class="text-green-600 font-semibold px-10">{{ item.payMet }}</td>
                        } @else if (item.payMet == "G-Cash") {
                            <td class="text-blue-600 font-semibold px-10">{{ item.payMet }}</td>
                        } @else {
                            <td class="text-amber-600 font-semibold px-10">{{ item.payMet }}</td>
                        }
                        <td class="flex justify-between px-4">
                            <button 
                                class="px-2 py-2 text-white rounded hover:scale-130 duration-300"
                                (click)="fetchProductForEdit(item.id, item.product, item.name, item.amount, item.payMet)" type="button">
                                <span>
                                    <img src="images/edit.png" alt="editbtn" class="h-5">
                                </span>
                            </button>
                            <button 
                                class="px-2 py-2 text-white rounded hover:scale-130 duration-300"
                                (click)="deleteOrder(item.id)" type="button">
                                <span>
                                    <img src="images/delete.png" alt="deletebtn" class="h-5">
                                </span>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>