<div class="flex w-full justify-center">
    <div class="flex flex-col">
        <p class="font-bold text-xl mb-4">ORDERS</p>
        <table class="border">
            <thead>
                <tr class="bg-slate-900 text-white rounded-tl">
                    <th scope="col" class="px-4 py-2">ID</th>
                    <th scope="col"  class="px-4 py-2">
                        <select (change)="selectedProductFunct($event)" name="selectproduct" id="prdct"  class="bg-slate-900 text-white px-4 py-2">
                            <option selected>Product</option>
                            @for (product of productListOption; track $index) {
                                <option [value]="product" >{{product}}</option>
                            }
                        </select>
                    </th>
                    <th scope="col"  class="px-4 py-2">Name</th>
                    <th scope="col"  class="px-4 py-2">Amount</th>
                    <th scope="col"  class="px-4 py-2">
                        <select (change)="selectedPaymentMethod($event)" name="paymethod" id="pymtd" class="bg-slate-900 text-white px-4 py-2">
                            <option selected>Payment Method</option>
                            @for (item1 of payMethodOption; track $index) {
                                <option [value]="item1">{{item1}}</option>
                            }
                        </select>
                    </th>
                    <th scope="col" class="px-4 py-2">Action</th>
                </tr>
            </thead>
            <tbody>
                @for (item of filteredList; track item.id) {
                    <tr>
                        <td class="py-2 text-center font-semibold">{{ item.id }}</td>
                        <td>{{ item.product }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.amount | currency: 'PHP' }}</td>
                        @if (item.payMet == "Cash") {
                            <td class="text-green-600 font-semibold">{{ item.payMet }}</td>
                        } @else if (item.payMet == "G-Cash") {
                            <td class="text-blue-600 font-semibold">{{ item.payMet }}</td>
                        } @else {
                            <td class="text-amber-600 font-semibold">{{ item.payMet }}</td>
                        }
                        <td class="flex justify-between px-4">
                            <button type="button">E</button>
                            <button  type="button">D</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>