<!-- @for (item of orderrows; track item.id) {
    <tr>
        <td class="py-2 text-center font-semibold">{{ item.id }}</td>
        <td>{{ item.product }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.amount | currency: 'PHP' }}</td>
        @if (item.payMet == "Cash") {
            <td class="text-green-600 font-semibold">{{ item.payMet }}</td>
        } @else if (item.payMet == "G-Cash") {
            <td class="text-blue-600 font-semibold">{{ item.payMet }}</td>
        } @else {
            <td class="text-amber-600 font-semibold">{{ item.payMet }}</td>
        }
        <td class="flex justify-between px-4">
            <button type="button">E</button>
            <button type="button">D</button>
        </td>
    </tr>
} -->

<tbody>
    <tr class="flex">
        <td class="py-2 text-center font-semibold">{{ orderrows.id }}</td>
        <td>{{ orderrows.product }}</td>
        <td>{{ orderrows.name }}</td>
        <td>{{ orderrows.amount | currency: 'PHP' }}</td>
        @if (orderrows.payMet == "Cash") {
            <td class="text-green-600 font-semibold">{{ orderrows.payMet }}</td>
        } @else if (orderrows.payMet == "G-Cash") {
            <td class="text-blue-600 font-semibold">{{ orderrows.payMet }}</td>
        } @else {
            <td class="text-amber-600 font-semibold">{{ orderrows.payMet }}</td>
        }
        <td class="flex justify-between px-4">
            <button type="button">E</button>
            <button type="button">D</button>
        </td>
    </tr>
</tbody>

