<div class="absolute flex items-center px-8 py-4 gap-15 bg-white rounded-xl z-999 ">
    <div class="bg-slate-900 rounded-xl py-10">
        @if (this.sharedservice.selectedProduct == "Coffee") {
            <img src="images/coffee-cup_1047462.png" alt="" class="h-32">
        } @else if (this.sharedservice.selectedProduct == "Soda") {
            <img src="images/soft-drink_3989477.png" alt="" class="h-32">
        } @else {
            <img src="images/bread_883561.png" alt="" class="h-32">
        }
    </div>


    <form [formGroup]="orderForm" (ngSubmit)="getData()" class="flex flex-col items-center justify-center">
        <div  class="flex flex-col py-10">
            <label for="name" class="text-slate-400">Name</label>
            <input type="text" formControlName="name"  class="p-2 mb-4 border-b outline-0">
            <label for="amount" class="text-slate-400">Amount</label>
            <input type="number" formControlName="amount"  class="p-2 mb-4 border-b outline-0">
            <label for="paymet" class="text-slate-400">Payment Method</label>
            <input type="text" formControlName="paymet" class="p-2 mb-4 border-b outline-0">

        </div>

        <div class="flex justify-center gap-4 -ml-50">
            <button 
                class="py-2 px-4 bg-slate-900 hover:bg-green-700 rounded-lg text-white"
                type="submit">Proceed
            </button>

            <button 
                class="py-2 px-4 bg-slate-900 hover:bg-red-700 rounded-lg text-white"
                (click)="handleCloseTakeOrderModal()"
                type="button">Cancel
            </button>
        </div>
    </form>
</div>